 *{
    outline: 2px dotted red;
} 

.container {
    background-color: #4f3b44;
    align-content: center;
    width: 780px;
    min-height: 500px;
}


.header {
    background-color: #f7f4f7;
    width: 780px;
    min-height: 50px;
}

.nav { 
    margin: 0px;
    min-height: 1px;
} 
.main {
    width: 760px;
}
    .box_1 {
        
        margin-top: 15px;
        margin-left: 25px;
        display: inline-block;
        width: 330px;
        min-height: 250px;
            
    }
    .box_1 img{
        border: 5px solid #c0c0c0; 
        
        width: 320px;
        min-height: 250px;
    }
        .box_2{
            margin-top: 15;
            background-color: #f7f4f7;
            border: 5px solid #c0c0c0;
        position: relative;
        margin-left: 25px;
        display: inline-block;
        width: 330px;
        min-height: 250px;
        top: -40px;
        
        }
        p {
            font-size: smaller;
            padding: 5px;
            margin: 0;
            align-items: center;
            

        }
            .about{
            padding: 5px;
            background-color: #c6c3c3;
            width: 320px;
            min-height: 25px;
        }
    .sub_content{
        
        display: inline-flex;
        width: 730px;
        min-height: 350px;
    }   
        .box_one{
            min-height: 250;
            margin: 20px;
            flex: 2;
            
        }
        .sub_content.scimg1{
            flex:2;
            min-height: 50px;
        }
        .box_two{
            min-height: 250;
            margin: 20px;

            flex:2;
            
        }
        .box_three{
            min-height: 250;
            margin: 20px;

            flex: 2;
            
        }
        .sc_header  {
            background-color: #8f8d99;
            color: #fdf6ed;
        }
        .sc_tech  {
            background-color: #8f8d99;
            color: #fdf6ed;
        }
        .pargh_1{
            min-height: 100px;
            background-color: #e3d8e2;
            font-size:x-small;
        }
.footer {
    
    min-height: 50px;
}