*{
    outline: 2px dotted red;
}

.container {
    align-content: center;
    width: 780px;
    min-height: 500px;
}

.header {
    width: 780px;
    min-height: 100px;
}

.nav {
    margin: 10px;
    min-height: 50px;
}
.main {
    width: 560px;
}
    .box {
        display: inline-block;
        width: 230px;
        height: 150px;
    }
.footer {
    min-height: 50px;
}